h3 { display:none; }
.template_board {
	display: none;
}
.workflow_list div.some_load_image {
	display: none;
	width: 120px;
	margin: auto;
	text-align: center;
}
.workflow_list.loading {
	opacity: 0.4;
}
.workflow_list.loading div.some_load_image {
	display: block;
}
