/*********************************************************************
* Popup file rename dialog
*/
#rename_dialog { display: none; }
#rename_dialog.popup_dialog {
	display: block;
	z-index: 100;
	position: fixed;
	top: 200px;
	width: 340px;
	left: calc(50% - 180px);
	border: 4px solid var(--contrast-color);
	background: var(--body-background);
	border-radius: 8px;
	padding: 8px 16px;
	flex: 0 1;
}
#rename_dialog .title {
	text-align: center;
}
#rename_dialog label {
	display: inline-block;
	width: 320px;
	text-align: right;
}
#rename_dialog input {
}
#rename_dialog .cancel_button {
	display: block;
	float: left;
}
#rename_dialog .ok_button {
	display: block;
	float: right;
}
#rename_dialog .error {
	color: red;
	padding: 0px 8px;
}
